<form [formGroup]="form" (ngSubmit)="changePassword(form)"> 

    <div class="form-group">
        <label for="oldPassword" >Old Password</label>
        <input type="password" 
                id="oldPassword"
                name="oldPassword"
                class="form-control"
                formControlName="oldPassword"
                />

        <div *ngIf="form.controls.oldPassword.touched && form.controls.oldPassword.errors">
            <div *ngIf="form.controls.oldPassword.errors.required" 
                class="alert alert-danger">
                Old Password is required
            </div>
            <div *ngIf="form.controls.oldPassword.errors.incorrectOldPassword"
                    class="alert alert-danger">
                Invalid old password
            </div>

        </div>
    </div>

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" 
            id="newPassword"
            name="newPassword"
            class="form-control"
            formControlName="newPassword"
            minlength="5"
            />

        <div *ngIf="form.controls.newPassword.touched && form.controls.newPassword.errors">
            <div *ngIf="form.controls.newPassword.errors.required" class="alert alert-danger">
                New password is required
            </div>
            <div *ngIf="form.controls.newPassword.errors.minimumLength" class="alert alert-danger">
                Password should have a minimum of 5 characters  
            </div>
        </div>    
        
    </div>

    <div class="form-group">
        <label for="reEntNewPassword">Confirm password</label>
        <input type="password" 
                id="reEntNewPassword"
                name="reEntNewPassword"
                class="form-control"
                formControlName="reEntNewPassword"
                />
        <div *ngIf="form.controls.reEntNewPassword.touched &&
                    form.controls.reEntNewPassword.errors">
            <div *ngIf="form.controls.reEntNewPassword.errors.required" class="alert alert-danger">
                Confirm the password
            </div>
            <div *ngIf="form.errors && form.errors.passwordMisMatch" class="alert alert-danger">
                Passwords mismatch 
            </div>
            
        </div>
    </div>
    
    <button class="btn btn-primary" [disabled]="!form.valid">
        Change Password
    </button>

</form>